%form{ :action => "create", :method => "post", :class => "url_form"}
  %p
    %label{ :for => "url" } URL goes here
    %br/
    %input{ :type => "text", :name => "url", :id => "url", :size => 45 }
    %input{ :type => "submit", :name => "submit", :value => "URLize", :class => "button" }