%html
  %head
    %link{ :rel => "stylesheet", :href => "/style.css"}
    %script{ :src => "/jquery.js", :type => "text/javascript" }
    %script{ :src => "/application.js", :type => "text/javascript" }
  %body
    = yield
    
  .footer
    This site uses the
    %a{ :href => "http://github.com/radar/url"} url
    %a{ :href => "http://sinatrarb.com"} Sinatra
    application built by
    %a{ :href => "http://frozenplague.net"} Ryan Bigg
    %b