body {
	margin-top: 20%;
	background: #fde181;
	color: #830000;
	text-align: center;
}

body, input {
  font: 36pt Sans-serif;
  font-weight:bold;
}

.footer {
  position: fixed;
  bottom: 0px;
  font-size: 10pt;
  text-align: center;
  width: 100%;
  padding: 2px;
}

a {
  color: #830000;
}