body {
	background: #fde181;
	color: #830000;
}

body, input {
  font: 16pt Sans-serif;
  font-weight:bold;
}

input#url {
  width:100%;
  display:block;
}

.footer {
  position: fixed;
  bottom: 0px;
  font-size: 10pt;
  text-align: center;
  width: 100%;
  padding: 2px;
}

a {
  color: #830000;
}

.left {
  text-align: left;
}

.url {
  border: 3px solid #c9ad71;
  margin: 5px;
  padding: 5px;
  background: #e1c35e;
  width: 40em;
  overflow: none;
}

.url .original-url {
  display: block;
}
h3, h6 { 
  padding: 0px;
  margin: 0px;
}

.as-seen-on {
  display: none;
}